## Modified Weather.py

In [ ]:
import requests
from datetime import datetime
today = datetime.today()

api_key = "API_KEY"

def root_url(url_param, city_name, api_key):
  root_url = ["https://history.openweathermap.org/data/2.5/aggregated/month?", "https://api.openweathermap.org/data/2.5/weather?"]
  root_url = root_url[url_param]
  url = [f"{root_url}month={today.month}&q={city_name},ID&appid={api_key}", f"{root_url}q={city_name},ID&appid={api_key}"]
  url = url[url_param]
  r = requests.get(url)
  data = r.json()
  return r, data, url, city_name

def weather(city_name):
  r, data, url, city_name = root_url(0, city_name, api_key)

  if 'cod' in data:
    if data['cod'] == 200:
      return "success", city_name

  elif 'code' in data:
    if data['code'] == 404000:
      r, data, url, city_name = root_url(1, city_name, api_key)

      if 'cod' in data:
        if data['cod'] == 200:
          return "current", city_name
        else:
          message = data['message']
          return f"{message}", city_name

    else:
      print("Nama kota tidak boleh <= 3 karakter")

  #return round(temp, 2), humidity

## Iterate through city list

In [ ]:
import pandas as pd
import io
import requests
url="https://simplemaps.com/static/data/country-cities/id/id.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

c.head()

In [ ]:
c.loc[:,'city']

In [ ]:
x = c.loc[:,'city']
number = [i+1 for i in range(len(x))]
rows = []
for n, i in zip(number, x):
  print(n, i)
  rows.append(weather(i))
print(rows)

In [ ]:
df = pd.DataFrame(rows, columns=["Status","City"])
df

              Status        City
0            success     Jakarta
1            success    Surabaya
2            success     Bandung
3            success      Bekasi
4            success   Tangerang
...              ...         ...
8890  city not found     Barapas
8891  city not found     Burmeso
8892  city not found    Trimuris
8893  city not found  Kasonawejo
8894         current     Tabilaa

[8895 rows x 2 columns]

In [ ]:
df.to_csv("list_kota.csv")