<a href="https://colab.research.google.com/github/GajAhmadaaa/NanamYuk-ML/blob/main/OpenWeatherMap_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Raw City Based Weather Analysis

In [80]:
# importing the required libraries
import requests
# Enter the api key of openweathermap here
api_key = "81c713c1b0fea513c62681c97920daa9"
# Base url for the open map api
root_url = "http://api.openweathermap.org/data/2.5/weather?"
# Input the City name for which we need the weather data
city_name = input("Please Enter The City Name : ")
# Building the final url for the API call
url = f"{root_url}appid={api_key}&q={city_name}"
# sending a get request at the url
r = requests.get(url)
# storing the returned json data into a variable
data = r.json()
# Checking If there is no error and the status code is 200
if data['cod'] == 200:
    # getting the temperature from the json data
    temp = data['main']['temp'] - 273.15
    # getting the pressure from the json data
    pressure = data['main']['pressure']
    # getting the humidity from the json data
    humidity = data['main']['humidity']
    # getting the description from the json data
    descr = data['weather'][0]['description']
    # getting the wind speed from the json data
    wind = data['wind']['speed']
    # Displaying all the data
    print(f"City Name : {city_name}")
    print(f"The Weather Condition is {descr}")
    print(f"The temperature is {temp :.2f} Celsius")
    print(f"The pressure is {pressure}hPa")
    print(f"The humidity is {humidity}%")
    print(f"The speed of wind is {wind}m/s")
    print(url)
else:
    # If any error occured then print this
    print("gaada nama kota", url)

Please Enter The City Name : jakarta
City Name : jakarta
The Weather Condition is broken clouds
The temperature is 24.55 Celsius
The pressure is 1009hPa
The humidity is 93%
The speed of wind is 1.73m/s
http://api.openweathermap.org/data/2.5/weather?appid=81c713c1b0fea513c62681c97920daa9&q=jakarta

## Improved City Based Weather Analysis but just avg Temp within month

In [ ]:
import requests
from datetime import datetime
today = datetime.today()

api_key = "81c713c1b0fea513c62681c97920daa9"

root_url = "https://history.openweathermap.org/data/2.5/aggregated/month?"

city_name = input("Please Enter The City Name : ")

url = f"{root_url}month={today.month}&q={city_name},ID&appid={api_key}"

r = requests.get(url)

data = r.json()
# Checking If there is no error and the status code is 200
if data['cod'] == 200:
    # getting the temperature from the json data
    temp = data['result']['temp']['mean'] - 273.15
    # getting the humidity from the json data
    humidity = data['result']['humidity']['mean']
    # getting the month from the json data
    month = data['result']['month']
    print(f"City Name : {city_name}")
    print(f"The avg temperature in month {month} is {temp :.2f} Celsius")
    print(f"The avg humidity in month {month} is {humidity :.2f} %")
    print(url)
else:
    message = data['message']
    print("Something Went Wrong,", message)

## Error handling with try except implementation

In [ ]:
import requests
from datetime import datetime
today = datetime.today()

api_key = "81c713c1b0fea513c62681c97920daa9"

root_url = "https://history.openweathermap.org/data/2.5/aggregated/month?"

city_name = "Riau" #input("Please Enter The City Name : ")

url = f"{root_url}month={today.month}&q={city_name},ID&appid={api_key}"

r = requests.get(url)

data = r.json()
# Checking If there is no error and the status code is 200
try:
  if data['cod'] == 200:
      # getting the temperature from the json data
      temp = data['result']['temp']['mean'] - 273.15
      month = data['result']['month']
      print(f"City Name : {city_name}")
      print(f"The avg temperature in month {month} is {temp :.2f} Celsius")
      print(url)
  else:
      message = data['message']
      print("Something Went Wrong,", message)
except:
  message = data['message']
  print("error,", message)

## Enhanced Error handling with try except for location that has no weather history data

In [22]:
import requests
from datetime import datetime
today = datetime.today()

api_key = "81c713c1b0fea513c62681c97920daa9"
city_name = input("Please Enter The City Name : ")

###########################################################################
# Bisa dijadikan Function #
root_url = "https://history.openweathermap.org/data/2.5/aggregated/month?"
url = f"{root_url}month={today.month}&q={city_name},ID&appid={api_key}"
r = requests.get(url)
data = r.json()

root_url2 = "https://api.openweathermap.org/data/2.5/weather?"
url2 = f"{root_url2}q={city_name}&appid={api_key}"
r2 = requests.get(url2)
data2 = r2.json()
############################################################################

# Checking If there is no error and the status code is 200
try:
  if data['cod'] == 200:
      # getting the temperature from the json data
      temp = data['result']['temp']['mean'] - 273.15
      # getting the humidity from the json data
      humidity = data['result']['humidity']['mean']
      # getting the month from the json data
      month = data['result']['month']
      print(f"City Name : {city_name}")
      print(f"The avg temperature in month {month} is {temp :.2f} Celsius")
      print(f"The avg humidity in month {month} is {humidity :.2f} %")
      print(url)
  else:
      message = data['message']
      print("Something Went Wrong,", message)
except:
  if data['code'] == 404000:
      message = data['message']
      print(f"Error, {message}. Switching to current weather....")
      
      # getting the temperature from the json data
      temp = data2['main']['temp'] - 273.15
      # getting the humidity from the json data
      humidity = data2['main']['humidity']
      print(f"City Name : {city_name}")
      print(f"The current temperature is {temp :.2f} Celsius")
      print(f"The current humidity is {humidity :.2f} %")
      print(url2)

Please Enter The City Name : p
Something Went Wrong, Error

## Make it as function

In [26]:
import requests
from datetime import datetime
today = datetime.today()

api_key = "81c713c1b0fea513c62681c97920daa9"

def root_url(url_param, city_name, api_key):
    root_url = ["https://history.openweathermap.org/data/2.5/aggregated/month?", "https://api.openweathermap.org/data/2.5/weather?"]
    root_url = root_url[url_param]
    url = [f"{root_url}month={today.month}&q={city_name},ID&appid={api_key}", f"{root_url}q={city_name},ID&appid={api_key}"]
    url = url[url_param]
    r = requests.get(url)
    data = r.json()
    return r, data

def weather(city_name):
    r, data = root_url(0, city_name, api_key)
    # Checking If there is no error and the status code is 200
    try:
      if data['cod'] == 200:
          # getting the temperature from the json data
          temp = data['result']['temp']['mean'] - 273.15
          # getting the humidity from the json data
          humidity = data['result']['humidity']['mean']
          # getting the month from the json data
          month = data['result']['month']
          print("success")
      elif data['cod'] != 200:
          message = data['message']
          print("Nama kota tidak ada,", message)
    except:
      if data['code'] == 404000:
          message = data['message']
          print(f"Error, {message}. Switching to current weather....")
          r, data = root_url(1, city_name, api_key)
          # getting the temperature from the json data
          temp = data['main']['temp'] - 273.15
          # getting the humidity from the json data
          humidity = data['main']['humidity']
          #print(url)
    
    return round(temp, 2), humidity

## testing

In [67]:
weather("pp")

UnboundLocalError: ignored

In [14]:
weather("banda aceh")

success

(27.57, 81.95)

In [37]:
weather("murung raya")

Error, no data. Switching to current weather....

(27.11, 91)

In [86]:
import requests
from datetime import datetime
today = datetime.today()

api_key = "81c713c1b0fea513c62681c97920daa9"

def root_url(url_param, city_name, api_key):
  root_url = ["https://history.openweathermap.org/data/2.5/aggregated/month?", "https://api.openweathermap.org/data/2.5/weather?"]
  root_url = root_url[url_param]
  url = [f"{root_url}month={today.month}&q={city_name},ID&appid={api_key}", f"{root_url}q={city_name},ID&appid={api_key}"]
  url = url[url_param]
  r = requests.get(url)
  data = r.json()
  return r, data, url

def weather(city_name):
  r, data, url = root_url(0, city_name, api_key)
      # Checking If there is no error and the status code is 200

  if 'cod' in data:
    print('cod')
    if data['cod'] == 200:
      print('masuk cod 200')
      # getting the temperature from the json data
      temp = data['result']['temp']['mean'] - 273.15
      # getting the humidity from the json data
      humidity = data['result']['humidity']['mean']
      # getting the month from the json data
      month = data['result']['month']
      print("success")
      print(url)
    else:
      print('masuk cod else')
      print(url)

  elif 'code' in data:
    print('code')
    if data['code'] == 404000:
      print(url)
      print("masuk kesini")
      message = data['message']
      print(f"Error, {message}. Switching to current weather....")
      r, data, url = root_url(1, city_name, api_key)
      if 'cod' in data:
        if data['cod'] == 200:
          print('manuk cod lagi')
          print(url)
          # getting the temperature from the json data
          temp = data['main']['temp'] - 273.15
          # getting the humidity from the json data
          humidity = data['main']['humidity']
        else:
          temp = 0
          humidity = 0
          print('masuk else elseee')
    else:
      temp = 0
      humidity = 0
      print("masuk ke code else")
      print("gadaa")
      print(url)

  return round(temp, 2), humidity

In [87]:
weather("riauu")

code
https://history.openweathermap.org/data/2.5/aggregated/month?month=5&q=riauu,ID&appid=81c713c1b0fea513c62681c97920daa9
masuk kesini
Error, no data. Switching to current weather....
masuk else elseee

(0, 0)

In [ ]:
import pandas as pd

df = pd.read_csv('https://simplemaps.com/static/data/country-cities/id/id.csv')

df.head

In [11]:
import pandas as pd
import io
import requests
url="https://simplemaps.com/static/data/country-cities/id/id.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

c.head()

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Jakarta,-6.2146,106.8451,Indonesia,ID,Jakarta,primary,34540000.0,10154134.0
1,Surabaya,-7.2458,112.7378,Indonesia,ID,Jawa Timur,admin,4975000.0,4975000.0
2,Bandung,-6.9500,107.5667,Indonesia,ID,Jawa Barat,admin,2394873.0,2394873.0
3,Bekasi,-6.2333,107.0000,Indonesia,ID,Jawa Barat,NaN,2381053.0,2381053.0
4,Tangerang,-6.1783,106.6319,Indonesia,ID,Jawa Barat,NaN,2237006.0,2237006.0

In [20]:
c.loc[:, "city"]

0          Jakarta
1         Surabaya
2          Bandung
3           Bekasi
4        Tangerang
           ...
8890       Barapas
8891       Burmeso
8892      Trimuris
8893    Kasonawejo
8894       Tabilaa
Name: city, Length: 8895, dtype: object

In [23]:
x = c.loc[:,'city']
for i in x:
  weather(i)

cod
success
cod
success
cod
success
cod
success
cod
success
cod
success
cod
success
cod
success
cod
success
code
Error, no data. Switching to current weather....

KeyError: ignored